@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-md-5 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-danger card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <center>
                    <h2>@Model.Message </h2>
                    @if (Model.ShowRequestId)
                    {
                        <h4><code>@Model.RequestId</code></h4>
                    }
                    <h5>contate o administrador do sistema</h5>
                </center>
            </div>
        </div>
    </div>
</div>