@model DownloadFile
@{
    ViewData["Title"] = "Import Data";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <form asp-action="Import">
                    <div class="text-success">@ViewData["Resultado"]</div>
                    <div class="text-danger">@ViewData["Error"]</div>
                    <input type="hidden" asp-for="Id" />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Path"></label>
                            <input asp-for="Path" readonly="readonly" class="form-control" />
                            <span asp-validation-for="Path" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="NameFile"></label>
                            <input asp-for="NameFile" readonly="readonly" class="form-control" />
                            <span asp-validation-for="NameFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" onclick="DivLoading()" value="Executed File" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>