@model TimePoint
@{
    ViewData["Title"] = "Create New TimePoint";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees, "Id", "Admission"))" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Employee Name">
                            <option selected value="">Employee Name</option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div><br />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Input1"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Input1" name="Input1" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Input1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Input2"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Input2" name="Input2" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Input2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Input3"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Input3" name="Input3" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Input3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Input4"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Input4" name="Input4" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Input4" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Input5"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Input5" name="Input5" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Input5" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Input6"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Input6" name="Input6" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Input6" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Output1"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Output1" name="Output1" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Output1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Output2"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Output2" name="Output2" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Output2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Output3"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Output3" name="Output3" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Output3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Output4"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Output4" name="Output4" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Output4" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Output5"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Output5" name="Output5" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Output5" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Output6"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input id="Output6" name="Output6" class="form-control datetimepicker" />
                            </div>
                            <span asp-validation-for="Output6" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Observation"></label>
                            <input asp-for="Observation" class="form-control" />
                            <span asp-validation-for="Observation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>