@model PatrimonyKeyDescription
@{
    ViewData["Title"] = "Create New Patrimony Key Description";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select asp-for="PatrimonyKeyId" asp-items="@(new SelectList(Model.PatrimonyKeys, "Id", "KeyPatrimony"))" class="custom-select" data-size="7" data-style="btn btn-primary btn-round" title="Patrimony Key">
                            <option selected value="">Patrimony Key</option>
                        </select>
                        <span asp-validation-for="PatrimonyKeyId" class="text-danger"></span>
                    </div><br />
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select asp-for="LowPatrimony" asp-items="@LowPatrimony.Maintenance.ToSelectList()" class="custom-select" data-size="7" data-style="btn btn-primary btn-round" title="Low Patrimony">
                            <option selected value="">Low Patrimony</option>
                        </select>
                        <span asp-validation-for="LowPatrimony" class="text-danger"></span>
                    </div><br />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="DateDescription"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input asp-for="DateDescription" class="form-control" />
                            </div>
                            <span asp-validation-for="DateDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>