@model Certificate
@{
    ViewData["Title"] = "Certificados";
}

<div class="row">
    <div class="col-md-12 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">

                <!--Start-->
                oi
                <!--End-->
            </div>
        </div>
    </div>
</div>